.cart-page {
  width: 100%;
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
  margin-top: 80px;
  background-color: #f1f1f2;
  background: white;
  /* transform: translateX(125px); */
}

.cart-title {
  width: 100%;               /* full width */
  display: block;            /* make it a block-level section */
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: white;
  background-color: #2A2A2A;
  
  padding: 40px 0;           /* top + bottom space like reference */
  margin: 0;                 /* remove gaps */
}

.cart-title-container {
  width: 100vw;               /* force across viewport width */
  margin-left: calc(50% - 50vw);  /* break out of center container */
  background-color: #2A2A2A;
}


.cart-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  background: white;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  padding: 30px 40px;
  border-radius: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  margin-bottom: 30px;
}

.cart-table th {
  background: #14532d;
  color: white;
  padding: 12px;
  text-align: left;
}

.cart-table td {
  padding: 18px 10px;
  border-bottom: 1px solid #ddd;
}

.cart-product {
  display: flex;
  gap: 15px;
  align-items: center;
}

.cart-product img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}

.qty-box {
  display: flex;
  border: 1px solid #ccc;
  padding: 4px 10px;
  gap: 10px;
  align-items: center;
}

.qty-box button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.total-price {
  color: #f79340;
  font-weight: bold;
}

.remove-btn {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.cart-actions {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.gray-btn {
  padding: 12px 25px;
  background: #ddd;
  border: none;
  cursor: pointer;
}

.checkout-btn {
  padding: 12px 25px;
  border: none;
  background: #f79340;
  color: white;
  cursor: pointer;
}

.cart-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.coupon-box,
.shipping-box,
.totals-box {
  width: 32%;
  padding: 20px;
  border: 1px solid #ccc;
}

.coupon-box input,
.shipping-box input,
.shipping-box select {
  width: 100%;
  padding: 10px;
  margin: 10px 0 15px;
  border: 1px solid #ccc;
}

.apply-btn {
  width: 100%;
  padding: 10px;
  background: #f79340;
  color: white;
  border: none;
  cursor: pointer;
}

.totals-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.total strong {
  color: #f4583f;
  font-size: 20px;
}
