/* MAIN LAYOUT */
.checkout-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding: 40px 80px;
  background: #f7f9fb;
  
  font-family: 'Inter', sans-serif;
}

/* LEFT CARD SECTIONS */
.checkout-section {
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  margin-bottom: 30px;
  margin-top: 100px;
}

.checkout-section h3 {
  margin-bottom: 20px;
}

/* GRID SYSTEM */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  margin-bottom: 18px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-bottom: 18px;
}

/* INPUTS */
.checkout-section input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cfd6dd;
  outline: none;
  font-size: 0.95rem;
}

.checkout-section input:focus {
  border-color: #0b5b2e;
}

/* DELIVERY BUTTONS */
.delivery-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.delivery-buttons button {
  padding: 10px 22px;
  border-radius: 8px;
  border: 1px solid #2d7a46;
  cursor: pointer;
  font-weight: 500;
  background: transparent;
  transition: 0.2s;
}

.delivery-buttons .active {
  background: #0b5b2e;
  color: white;
  border-color: #0b5b2e;
}

.delivery-buttons .inactive:hover {
  background: #e9f5ee;
}

/* PAYMENT METHOD UI */
.payment-options {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.payment-box {
  flex: 1;
  background: #f2f5f7;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.2s;
}

.payment-box img {
  width: 28px;
  height: 28px;
}

.payment-box:hover {
  border-color: #7bbf98;
}

.payment-box.selected {
  background: #e3f3e9;
  border-color: #0b5b2e;
}

/* RIGHT SUMMARY CARD */
.checkout-summary {
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  height: fit-content;
    margin-top: 100px;
}

.price-row {
  display: flex;
  gap: 15px;
  margin: 10px 0 20px;
}

.old-price {
  text-decoration: line-through;
  color: #9c9c9c;
}

.new-price {
  color: #0b5b2e;
  font-weight: 700;
}

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.summary-total {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 20px;
}

.discount {
  color: #ca2d2d;
}

/* CHECKOUT BUTTON */
.checkout-btn {
  width: 100%;
  padding: 14px;
  background: #0b5b2e;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
  transition: 0.2s;
}

.checkout-btn:hover {
  background: #094d26;
}

.terms {
  font-size: 0.85rem;
  color: #777;
  text-align: center;
}
/* RESPONSIVE */
@media (max-width: 900px) {
  .checkout-page {
    grid-template-columns: 1fr;
    padding: 20px 30px;
  }
    .checkout-summary {
        margin-top: 30px;
    }
}
