.details-wrapper {
  width: 100%;
  padding: 40px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background-color: white;
  margin: auto;

  /* REMOVE max-width + center margin */
  
  max-width: none;

  /* REMOVE any shifting */
  transform: none;
}
.details-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.details-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-image {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 12px;
}

.thumbnail-row {
  display: flex;
  gap: 10px;
}

.thumbnail-row img {
  width: 110px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnail-row img:hover {
  border-color: #6c63ff;
}

.details-right h2 {
  margin-bottom: 10px;
  color: #14532d;
}

.location {
  color: #14532d;
  margin-bottom: 20px;
}

.price-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: #14532d;
}

.old-price {
  text-decoration: line-through;
  color: #14532d;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #14532d;
}

.purchase-btn {
  background: #14532d;
  border: none;
  color: white;
  padding: 14px 20px;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.purchase-btn:hover {
  background: #14532d;
}

.description {
  margin-top: 15px;
  line-height: 1.5;
  color: #14532d;
}

/* RELATED ITEMS */
.related-section {
  grid-column: 1 / 3;
  margin-top: 40px;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 15px;
}
.related-card {
  background: #14532d;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}